
    <%- include('./partials/head.ejs') %>
    <div>
        <div class="headings">
            <h2>Home Page</h2>
      
            <a href="/show" class="btn ">View data</a>
          </div>
          <%- include('./partials/foot.ejs') %>