<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%- include('./partials/nav.ejs') %>
    <h1>this is html page</h1>
<h2>have fun</h2>

<h4> <%=blogs[0].title%> </h4>
<p> <%=blogs[0].snippet%> </p>



</body>
</html>